<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.sleep">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sleeping"
        android:label="수면 패턴 분석"
        android:roundIcon="@drawable/sleeping"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="수면 패턴 분석"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addstudentactivity" />
        <activity android:name=".Readstudentactivity" />
        <activity android:name=".Sleepgraph" />
        <activity android:name=".dayGraph" />
        <activity android:name=".weekGraph" />
        <activity android:name=".monthGraph" />
        <activity android:name=".DayCalendar" />
        <activity android:name=".Click_menu" />
        <activity android:name=".Setting" />
    </application>

</manifest>